.form-control {
    border-color: #dee2e6 !important;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #e9ecef !important;
}

.form-select:disabled,
.form-select[readonly] {
    background-color: #e9ecef !important;
}
