.form-control, .form-select {
    border-color: #dee2e6 !important;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #e9ecef !important;
}

.form-select:disabled,
.form-select[readonly] {
    background-color: #e9ecef !important;
}

.table thead th {
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

.table th,
.table td {
    font-size: 16px !important;
    padding: .5rem .5rem !important;
}
