@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400;700&family=Spectral:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar,
html::-webkit-scrollbar {
    display: none;
}

body,
html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* width */
::-webkit-scrollbar {
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    display: none;
}
